In [ ]:
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import seaborn as sns
import pandas as pd
import numpy as np

   District   Age  Gender  ...  FirstAidHome  SimulationExercise  CompositeScore
0         1  30.0     0.0  ...             0                   0               0
1         1  32.0     0.0  ...             0                   0               1
2         1  40.0     0.0  ...             0                   0               0
3         1  28.0     1.0  ...             0                   1               1
4         1  58.0     0.0  ...             0                   1               1

[5 rows x 14 columns]

In [ ]:
df.columns

Index(['Gender', 'Constructed', 'Floor', 'Member', 'Dis', 'Ethinic',
       'education', 'Head'],
      dtype='object')

In [ ]:
df.Gender.unique()

array(['Female', 'Male', nan], dtype=object)

In [ ]:
df.Floor.unique()

array(['Earth', 'Concrete', 'Wood', 'Bamboo', nan, 'Carpet'], dtype=object)

In [ ]:
#use of mapping function
mapping = {'Male' :1 , 'Female' : 0 }
df['Gender'] = df['Gender'].map(mapping)

mapping = {'Earth' :1 , 'Concrete' : 2,'Wood' :3 , 'Bamboo' : 4,  'Carpet' : 5 }
df['Floor'] = df['Floor'].map(mapping)

In [ ]:
df.Constructed.unique()

array(['Wooden House (1 story) ', 'Wooden House (2 story) ', 'Tin',
       'Bamboo Hut (Bamboo pole, bamboo mat and thatch roof)',
       'Wooden Bamboo Hut (Timber pole and floor, bamboo mat and thatch roof)',
       'Concrete Building', 'Brick Noggin Building', nan], dtype=object)

In [ ]:
mapping = {'Wooden House (1 story) ':1 , 'Wooden House (2 story) ' : 2,'Tin' :3 , 'Bamboo Hut (Bamboo pole, bamboo mat and thatch roof)' : 4,  
           'Wooden Bamboo Hut (Timber pole and floor, bamboo mat and thatch roof)' : 5,'Concrete Building' :6,'Brick Noggin Building' :7 }
df['Constructed'] = df['Constructed'].map(mapping)

In [ ]:
df.Ethinic.unique()

array(['Bangalee', nan, 'Rakhine', 'Khotrio'], dtype=object)

In [ ]:
mapping = {'Bangalee' :1 , 'Rakhine' : 2,'Khotrio' :3 }
df['Ethinic'] = df['Ethinic'].map(mapping)

In [ ]:
df.education.unique()

array(['School Secondary Certificate', 'Primary ', 'Literate',
       'Never went to school', 'Graduate', 'Higher Secondary Certificate',
       'Master', nan, 'Undergraduate'], dtype=object)

In [ ]:
mapping = {'School Secondary Certificate':4 , 'Primary ' : 3,'Literate' :2,'Never went to school':1 , 
           'Graduate' : 7,'Higher Secondary Certificate' :5 ,'Master' :8,'Undergraduate':6}
df['education'] = df['education'].map(mapping)

In [ ]:
df.Head.unique()

array(['Husband', 'Self', 'Son', 'Father', 'Wife',
       'Others (Please specify)', 'Mother', 'Nephew', nan, 'Brother',
       'Father in law', 'Daughter in law', 'Sister'], dtype=object)

In [ ]:
mapping = {'Husband':1 , 'Self ' : 2,'Father' :3,'Wife':4 , 
           'Others (Please specify)' : 5,'Mother' :6 ,'Nephew' :7,'Brother':8,'Father in law':9,'Daughter in law':10,'Sister':11}
df['Head'] = df['Head'].map(mapping)

In [ ]:
df.head()

   Gender  Constructed  Floor  Member  Dis  Ethinic  education  Head
0     0.0          1.0    1.0     5.0  0.0      1.0        4.0   1.0
1     0.0          1.0    1.0     4.0  0.0      1.0        3.0   1.0
2     0.0          1.0    1.0     5.0  0.0      1.0        2.0   1.0
3     1.0          1.0    1.0     3.0  0.0      1.0        3.0   NaN
4     0.0          1.0    1.0     5.0  0.0      1.0        3.0   1.0

In [ ]:
df.groupby(['Gender', 'education']).education.mean()

In [ ]:
df.groupby('Gender')['education'].mean()

Gender
0.0    2.830709
1.0    2.930435
Name: education, dtype: float64

In [ ]:
df.groupby('Gender')['education'].std()

Gender
0.0    1.024831
1.0    1.313163
Name: education, dtype: float64

In [ ]:
df.groupby('Gender')['Member'].mean()

Gender
0.0    4.731225
1.0    5.188596
Name: Member, dtype: float64

In [ ]:
df.groupby('Gender')['Member'].std()

Gender
0.0    3.395681
1.0    4.061689
Name: Member, dtype: float64

In [ ]:
df.groupby('Gender')['Ethinic'].std()

Gender
0.0    0.203011
1.0    0.151513
Name: Ethinic, dtype: float64

In [ ]:
df.groupby('Gender')['Dis'].mean()

Gender
0.0    0.104418
1.0    0.123288
Name: Dis, dtype: float64

In [ ]:
def P(favourable_outcome, total_outcome):
  p=favourable_outcome/total_outcome
  print("Probability is",round(p, 3))

**Part2**

In [ ]:
url='https://raw.githubusercontent.com/FazlyRabbiBD/AcademicWorkspace/master/CPE3.csv'
df = pd.read_csv(url)
df.head()

   District   Age  Gender  ...  FirstAidHome  SimulationExercise  CompositeScore
0         1  30.0     0.0  ...             0                   0               0
1         1  32.0     0.0  ...             0                   0               1
2         1  40.0     0.0  ...             0                   0               0
3         1  28.0     1.0  ...             0                   1               1
4         1  58.0     0.0  ...             0                   1               1

[5 rows x 14 columns]

In [ ]:
mapping = {1.0:'Male' , 0.0 : 'Female'}
df['Gender'] = df['Gender'].map(mapping)

In [ ]:
mapping = {1:'Bagerhat' , 2 : 'Patuakhali', 3:'Khulna'}
df['District'] = df['District'].map(mapping)

In [ ]:
df.head()

   District   Age  Gender  ...  FirstAidHome  SimulationExercise  CompositeScore
0  Bagerhat  30.0  Female  ...             0                   0               0
1  Bagerhat  32.0  Female  ...             0                   0               1
2  Bagerhat  40.0  Female  ...             0                   0               0
3  Bagerhat  28.0    Male  ...             0                   1               1
4  Bagerhat  58.0  Female  ...             0                   1               1

[5 rows x 14 columns]

In [ ]:
df.groupby('District')['PrticipatedPrepPlan'].mean()

District
Bagerhat      0.000000
Khulna        0.012195
Patuakhali    0.109091
Name: PrticipatedPrepPlan, dtype: float64

In [ ]:
df.groupby('District')['PrticipatedPrepPlan'].std()

District
Bagerhat      0.000000
Khulna        0.110432
Patuakhali    0.312322
Name: PrticipatedPrepPlan, dtype: float64

In [ ]:
df.groupby('District')['ContributeFund'].mean()

District
Bagerhat      0.000000
Khulna        0.000000
Patuakhali    0.014545
Name: ContributeFund, dtype: float64

In [ ]:
df.groupby('District')['ContributeFund'].std()

District
Bagerhat      0.000000
Khulna        0.000000
Patuakhali    0.119942
Name: ContributeFund, dtype: float64

In [ ]:
df.groupby('District')['PreparednessPlan'].mean()

District
Bagerhat      0.029630
Khulna        0.195122
Patuakhali    0.115672
Name: PreparednessPlan, dtype: float64

In [ ]:
df.groupby('District')['PreparednessPlan'].std()

District
Bagerhat      0.170195
Khulna        0.398733
Patuakhali    0.320429
Name: PreparednessPlan, dtype: float64

In [ ]:
df.groupby('District')['GrabBag'].mean()

District
Bagerhat      0.400000
Khulna        0.243902
Patuakhali    0.350746
Name: GrabBag, dtype: float64

In [ ]:
df.groupby('District')['GrabBag'].std()

District
Bagerhat      0.491723
Khulna        0.432077
Patuakhali    0.478096
Name: GrabBag, dtype: float64

In [ ]:
df.groupby('District')['ExtraMoney'].mean()

District
Bagerhat      0.066667
Khulna        0.146341
Patuakhali    0.072993
Name: ExtraMoney, dtype: float64

In [ ]:
df.groupby('District')['ExtraMoney'].std()

District
Bagerhat      0.250373
Khulna        0.355623
Patuakhali    0.260601
Name: ExtraMoney, dtype: float64

In [ ]:
df.groupby('District')['FirstAidHome'].mean()

District
Bagerhat      0.000000
Khulna        0.195122
Patuakhali    0.069091
Name: FirstAidHome, dtype: float64

In [ ]:
df.groupby('District')['FirstAidHome'].std()

District
Bagerhat      0.000000
Khulna        0.398733
Patuakhali    0.254071
Name: FirstAidHome, dtype: float64

In [ ]:
df.groupby('District')['SimulationExercise'].mean()

District
Bagerhat      0.385185
Khulna        0.024390
Patuakhali    0.087273
Name: SimulationExercise, dtype: float64

In [ ]:
df.groupby('District')['SimulationExercise'].std()

District
Bagerhat      0.488451
Khulna        0.155207
Patuakhali    0.282749
Name: SimulationExercise, dtype: float64

Male-Female

In [ ]:
pd.crosstab(df['Gender'],df['PrticipatedPrepPlan']).apply(lambda r: r/r.sum(), axis=1)*100

FirstAidHome          0         1
Gender
Female        94.881890  5.118110
Male          90.434783  9.565217

In [ ]:
pd.crosstab(df['Gender'],df['ContributeFund']).apply(lambda r: r/r.sum(), axis=1)*100

ContributeFund           0         1
Gender
Female           99.606299  0.393701
Male            100.000000  0.000000

In [ ]:
pd.crosstab(df['Gender'],df['PreparednessPlan']).apply(lambda r: r/r.sum(), axis=1)*100

PreparednessPlan        0.0        1.0
Gender
Female            91.338583   8.661417
Male              87.391304  12.608696

In [ ]:
pd.crosstab(df['Gender'],df['GrabBag']).apply(lambda r: r/r.sum(), axis=1)*100

GrabBag        0.0        1.0
Gender
Female   71.259843  28.740157
Male     58.695652  41.304348

In [ ]:
pd.crosstab(df['Gender'],df['ExtraMoney']).apply(lambda r: r/r.sum(), axis=1)*100

ExtraMoney        0.0        1.0
Gender
Female      94.094488   5.905512
Male        88.646288  11.353712

In [ ]:
pd.crosstab(df['Gender'],df['PrticipatedPrepPlan']).apply(lambda r: r/r.sum(), axis=1)*100

PrticipatedPrepPlan          0         1
Gender
Female               94.488189  5.511811
Male                 92.608696  7.391304

In [ ]:
pd.crosstab(df['Gender'],df['SimulationExercise']).apply(lambda r: r/r.sum(), axis=1)*100

SimulationExercise          0          1
Gender
Female              85.433071  14.566929
Male                82.608696  17.391304