# Intro to Python


#### Writing Your First Python Code


<h2 id="hello">Say "Hello" to the world in Python</h2>

When learning a new programming language, it is customary to start with an "hello world" example

In [1]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

<h3 id="version">What version of Python are we using?</h3>

There are two popular versions of the Python programming language in use today: Python 2 and Python 3. The Python community has decided to move on from Python 2 to Python 3, and many popular libraries have announced that they will no longer support Python 2.

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.8.3 (default, Jul  2 2020, 11:26:31)
[Clang 10.0.0 ]

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>sys</code> is a built-in module that contains many system-specific parameters and functions, including the Python version in use. Before using it, we must explictly <code>import</code> it.
</div>
<hr/>

<h3 id="comments">Writing comments in Python</h3>


<p>
    In addition to writing code, note that it's always a good idea to add comments to your code. It will help others understand what you were trying to accomplish (the reason why you wrote a given snippet of code). Not only does this help <strong>other people</strong> understand your code, it can also serve as a reminder <strong>to you</strong> when you come back to it weeks or months later.</p>

<p>
    To write comments in Python, use the number symbol <code>#</code> before writing your comment. When you run your code, Python will ignore everything past the <code>#</code> on a given line.
</p>

In [3]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

<p>
    After executing the cell above, you should notice that <code>This line prints a string</code> did not appear in the output, because it was a comment (and thus ignored by Python).
</p>
<p>
    The second line was also not executed because <code>print('Hi')</code> was preceded by the number sign (<code>#</code>) as well! Since this isn't an explanatory comment from the programmer, but an actual line of code, we might say that the programmer <em>commented out</em> that second line of code.
</p>

<h3 id="errors">Errors in Python</h3>


<p>Everyone makes mistakes. For many types of mistakes, Python will tell you that you have made a mistake by giving you an error message. It is important to read error messages carefully to really understand where you made a mistake and how you may go about correcting it.</p>
<p>For example, if you spell <code>print</code> as <code>frint</code>, Python will display an error message. Give it a try:</p>

In [4]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

<p>The error message tells you: 
<ol>
    <li>where the error occurred (more useful in large notebook cells or scripts), and</li> 
    <li>what kind of error it was (NameError)</li> 
</ol>
<p>Here, Python attempted to run the function <code>frint</code>, but could not determine what <code>frint</code> is since it's not a built-in function and it has not been previously defined by us either.</p>

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (strings for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600">
</a>

In [5]:
# Integer

11

11

In [6]:
# Float

2.14

2.14

In [7]:
# Type of 12

type(12)

int

In [8]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [10]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

<h3 id="int">Integers</h3>

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesInt.png" width="600">
</a>

<p>We can verify this is the case by using, you guessed it, the <code>type()</code> function:

In [13]:
# Print the type of -1

type(-1)

int

<h3 id="float">Floats</h3> 

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. 

<p>Once again, can test some examples with the <code>type()</code> function:

In [16]:
# Print the type of 0.5

type(0.5)

float

<h3 id="convert">Converting from one object type to a different object type</h3>

<p>You can change the type of the object in Python; this is called typecasting. For example, you can convert an <i>integer</i> into a <i>float</i> (e.g. 2 to 2.0).</p>
<p>Let's try it:</p>

In [17]:
# Verify that this is an integer

type(2)

int

In [19]:
# Convert integer 2 to a float and check its type

type(float(2))

float

<p>When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):</p>

In [20]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [21]:
# Convert an integer to a string

str(1)

'1'

In [22]:
# Convert a float to a string

str(1.2)

'1.2'

could not convert string to float” error is raised when you try to convert a string that is not formatted as a floating point number to a float. Can convert string into int but there is some limitation ,int() with base 10

In [27]:
current = input("Enter the Current price: ")
current = int(current)

Enter the Current price: hj

ValueError: invalid literal for int() with base 10: 'hj'

<h3 id="exer_type">Exercise: Types</h3>

In [29]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

<details><summary>Click here for the solution</summary>

```python
type(6/2) # float

```

</details>

<h2 id="expressions">Expression and Variables</h2>

In [31]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [32]:
# Subtraction operation expression

50 - 60

-10

In [33]:
# Multiplication operation expression

5 * 5

25

In [34]:
# Division operation expression

25 / 5

5.0

<p>As seen in the quiz above, we can use the double slash for integer division, where the result is rounded down to the nearest integer:

In [35]:
# Integer division operation expression

25 // 5

5

In [36]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [38]:
# Print out the value in variable

x

160

In [39]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [40]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

# String Operations

In [41]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [42]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [44]:
# Digitals and spaces in string

'1 2 3 4 5 6'

'1 2 3 4 5 6'

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center" />

In [47]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [48]:
# Print the first element in the string

print(name[0])

M

<h3 id="neg">Negative Indexing</h3>

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsNeg.png" width="600" align="center" />

In [49]:
# Print the last element in the string

print(name[-1])

n

<h3 id="slice">Slicing</h3>

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center" />

In [50]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [51]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [52]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [53]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [54]:
 # Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [55]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

<h2 id="quiz">Quiz on Strings</h2>

In [58]:
a = "1"
b = "2"
c = a + b
print(c)

12

<details><summary>Click here for the solution</summary>

```python
"12"

```

</details>

# Lists in Python


We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an <b>index</b>. An index is used to access and refer to items within a list.


<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="1000" />

In [67]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

<h3 id="content">List Content</h3>

In [68]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsSlice.png" width="1000">

In [69]:
# List slicing

L[3:5]

['MJ', 1]

In [70]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [71]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [72]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRef.png" width="1000" align="center">

<h2 id="tuple">Tuples</h2>

In [59]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [60]:
# Print the type of the tuple you created

type(tuple1)

tuple

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesIndex.gif" width="750" align="center">

In [61]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [62]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [63]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesSlice.gif" width="750" align="center">

In [64]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

<h3 id="sort">Sorting</h3>

In [65]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [66]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

# Sets in Python

In [73]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnique.png" width="1100" />

In [75]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [76]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [77]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

<h3 id="logic">Sets Logic Operations</h3>

In [78]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [79]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLogic.png" width = "650" />

# Dictionaries in Python

<h3 id="content">What are Dictionaries?</h3>

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650" />

In [80]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [81]:
# Access to the value by the key

Dict["key1"]

1

Append value with key into dictionary to add new

# Conditions in Python

Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:

<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

In [82]:
# Condition Equal

a = 5
a == 6

False

In [83]:
# Greater than Sign

i = 6
i > 5

True

In [84]:
# Greater than Sign

i = 2
i > 5

False

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsGreater.gif" width="650" />

In [85]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsIf.gif" width="650" />

In [86]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsElse.gif" width="650" />

<h1>Loops in Python</h1>


<h1>Loops in Python</h1>

<h3 id="range">Range</h3>

Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by <b>loops</b>. We will look at two types of loops, <code>for</code> loops and <code>while</code> loops.

Before we discuss loops lets discuss the <code>range</code> object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate an object that contains elements ordered from 0 to 2 we simply use the following command:

In [88]:
# Use the range

range(3)

range(0, 3)

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/range.PNG" width="300" />

In [89]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/LoopsForRange.gif" width="800" />

In [90]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/LoopsWhile.gif" width="650" />

<h1>Functions in Python</h1>

A function is a reusable block of code which performs operations specified in the function. They let you break down tasks and allow you to reuse your code in different programs.

There are two types of functions :

*   <b>Pre-defined functions</b>
*   <b>User defined functions</b>

<h3 id="content">What is a Function?</h3>
You can define functions to provide the required functionality. Here are simple rules to define a function in Python:

*   Functions blocks begin <code>def</code> followed by the function <code>name</code> and parentheses <code>()</code>.
*   There are input parameters or arguments that should be placed within these parentheses.
*   You can also define parameters inside these parentheses.
*   There is a body within every function that starts with a colon (<code>:</code>) and is indented.
*   You can also place documentation before the body.
*   The statement <code>return</code> exits a function, optionally passing back a value.

An example of a function

In [92]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [93]:
# Use mult() multiply two integers

Mult(2, 3)

6

# END